body {
    background-color: #000000;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.containhome {
    text-align: center;
    margin-top: 20px;
    width: 80vw;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

#dynamicTextHii, #dynamicTextH1, #dynamicTextH2 {
    margin: 10px 0;
    color: #f0f0f0;
    animation: fadeIn 2s ease-in-out;
}

#dynamicTextHii, #dynamicTextH1 {
    font-size: 2.5rem;
}

#dynamicTextH2 {
    font-size: 2.5rem;
}

.flexskills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.text-section p {
    font-size: 1.2rem;
    color: #cccccc;
    max-width: 600px;
    margin-left: 80px;
    margin-right: 50px;
}

.text-section button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 20px;
}

.text-section button:hover {
    background-color: #0056b3;
    transform: translateY(-5px);
}

.image-section {
    margin-top: 20px;
}

.image-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image-section img:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 780px) {
    .containskills {
        width: 100%;
        padding: 20px;
    }

    #dynamicTextHii, #dynamicTextH1, #dynamicTextH2 {
        font-size: 2rem;
    }

    .text-section p {
        font-size: 1rem;
    }

    .image-section img {
        width: 100px;
        height: 100px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .boxcontainer {
        max-width: 90vw;
    }

    .box {
        height: 15vh;
        width: 15vh;
    }
    #cpp {
        height: 7.5vh;
        width: 7.5vh;
    }
}

#cpp {
    object-fit: cover;
    height: 10vh;
    width: 10vh;
    background-color: aliceblue;
    margin-top: 2px;
}

@media screen and (max-width: 400px){
    .flexskills {
        width: 330px;
        height: 800px;
    }
    .containskills {
        width: 100vw;
        margin-left: 0;
    }

    #hskills {
        font-size: 45px;
        margin-top: 120px;
    }

    p {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 15px;
    }
}

@media screen and (max-width: 500px){
    .flexskills {
        width: 93vw;
        height: 980px;
    }
    .containskills {
        width: 100vw;
        margin-left: 0px;
    }

    #hskills {
        font-size: 45px;
        margin-top: 100px;
    }

    p {
        font-size: 18px;
        margin-left: 10px;
        margin-right: 15px;
    }
}
