.leftdiv
{
    z-index: 1;
    background-image:url("./phots/bg.gif");
    background-size: cover;
    width:100vw;
    height:98vh;
}
.smooth-transition {
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
.boxleft
{
   border:2px solid black;
   border-radius: 5px;
   height: 75vh;
   width: 42%; 
   margin-top:6%;
   margin-left:5%;
   padding-left: 10px;
   backdrop-filter: blur(15px);
   background:rgba(255,255,255,0.2);

   h2{
        font-size: 30px;
        font-weight: 600;
        color: white;
        text-align: center;
        margin-top: 10px;
   }
   h1{
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-top: 10px;
   }
   h3{
    font-size: 15px;
    /* font-weight: 600; */
    color: black;
    text-align: center;
    margin-top: 10px;
   }
   img{
        width: 40%;
        height: 40%;
        border-radius: 50%;
        margin-left: 50%;
        margin-top: 2%;
   }
   button{
        display: flex;
        margin-top: -22%;
        margin-left: 6%;;
        width: 30%;
        height: 10%;
        border-radius: 5px;
        background-color: #000000;
        color: white;
        font-size: 18px;
        font-weight: 600;
        padding-top: 3%;
        padding-left: 2%;
        cursor: pointer;
   }
}

@media screen and (max-width: 780px) {
  .leftdiv{
      /* display: none; */
      background-image: url("./phots/bg1.jpg");
      width: 100vw;
      margin-right: 0%;
    .boxleft{
        width: 90%;
        margin-left: 5%;
        margin-top: 10%;
        height: 70vh;
        h2{
            font-size: 20px;
        }
        h1{
            font-size: 20px;
        }
        h3{
            font-size: 10px;
        }
        img{
            width: 40%;
            height: 30%;
            border-radius: 60%;
            margin-left: 50%;
            margin-top: 15%;
       }
       button{
            display: flex;
            margin-top: -22%;
            margin-left: 6%;;
            width: 30%;
            height: 10%;
            border-radius: 5px;
            background-color: #000000;
            color: white;
            font-size: 18px;
            font-weight: 600;
            padding-top: 3%;
            padding-left: 2%;
            cursor: pointer;
       }
    }
  }
}