.container {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #1e1e1e;
    color: #fff;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.image-container {
    margin-top: 20px;
}

.image-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.headings {
    width: 100%;
    text-align: center;
}

h1 {
    margin: 0;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 0;
    font-size: 1.2rem; /* Reduced font size */
    transition: all 0.3s ease;
}

h1:hover {
    color: #4400ff;
    transform: scale(1.05);
}

.active {
    color: #ff9800;
    font-size: 1.5rem; /* Adjusted font size */
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

@media (max-width: 780px) {
    .container {
        display: none;
    }
}

